default:
  textMatch: 1.0
  pathMatch: 1.2
  editingPath: 1.8
  dependency: 1.0
  proximity: 0.3
  structural: 0.9
  docPenaltyMultiplier: 0.6
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.5
feature:
  textMatch: 1.0
  pathMatch: 1.4
  editingPath: 1.8
  dependency: 1.1
  proximity: 0.35
  structural: 0.95
  docPenaltyMultiplier: 0.5
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.5
bugfix:
  textMatch: 1.0
  pathMatch: 1.3
  editingPath: 1.6
  dependency: 1.2
  proximity: 0.3
  structural: 0.85
  docPenaltyMultiplier: 0.5
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.4
debug:
  textMatch: 1.0
  pathMatch: 1.3
  editingPath: 1.7
  dependency: 1.2
  proximity: 0.35
  structural: 0.9
  docPenaltyMultiplier: 0.5
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.45
api:
  textMatch: 1.0
  pathMatch: 1.5
  editingPath: 1.8
  dependency: 1.0
  proximity: 0.3
  structural: 0.95
  docPenaltyMultiplier: 0.55
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.4
editor:
  textMatch: 1.0
  pathMatch: 1.4
  editingPath: 1.9
  dependency: 1.0
  proximity: 0.4
  structural: 0.9
  docPenaltyMultiplier: 0.6
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.4
testfail:
  textMatch: 1.0
  pathMatch: 1.5
  editingPath: 1.6
  dependency: 0.85
  proximity: 0.3
  structural: 0.8
  docPenaltyMultiplier: 0.5
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.3
typeerror:
  textMatch: 1.0
  pathMatch: 1.5
  editingPath: 1.4
  dependency: 0.6
  proximity: 0.4
  structural: 0.6
  docPenaltyMultiplier: 0.5
  configPenaltyMultiplier: 0.05
  implBoostMultiplier: 1.3
